.fullCounter{

  text-align: center;
  margin-left: 475px;
  width: 350px;
  background: #101010;
  border-radius: 30px;
}


.fullCounter div{
 display: inline-block;
 font-size: 60px;
 height: 60px;
 background: #101010;
 color: white;
 vertical-align: middle;
 padding: 10px;
}